<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://orgdev001.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="method" value="OAuth"/>
    <add key="username" value="xxx@xxx.onmicrosoft.com" />  
    <add key="out" value="../scripts/typings/XRM" />
    <add key="solutions" value="" />
    <add key="entities" value="account, contact" />
    <add key="web" value="" />
    <add key="jsLib" value="../scripts/src/lib" />
    <add key="mfaAppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
    <add key="mfaReturnUrl" value="app://58145B91-0C36-4500-8554-080854F2AC97"/>
  </appSettings>
</configuration>